/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Apr-2017, 01:57:02
    Author     : Linda
*/

.tech-center {
    text-align: center;
    font-family: 'Stalinist One', cursive;
    text-transform: uppercase;
}

.tech{
    font-family: 'Stalinist One', cursive;
    text-transform: uppercase;
}

.img-rightmargin {
    margin-right: 20px; 
}

.feat-blog {
    border-width: 2px !important;
    background-color: #A29C9B !important;
    background-image: none !important;
    min-height: 250px !important;
}
